/* This is awesome css right here man */
#loader-wrapper{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 250px;
  margin: -75px 0 0 -75px;
  border: 3px transparent solid;
  border-top-color: #3498db;
  border-radius: 50%;
  -webkit-animation: spin 1.5s infinite;
    animation: spin 1.5s infinite;
}
#loader::before{
  content:'';
  position:absolute;
  top:5px;
  left: 5px;
  right:5px;
  bottom: 5px;
  border: 3px transparent solid;
  border-top-color: #e74c3c;
  border-radius: 50%;
  -webkit-animation: spin 1.5s infinite;
    animation: spin 1.5s infinite;
}
#loader::after{
  content:'';
  position:absolute;
  top:15px;
  left: 15px;
  right:15px;
  bottom: 15px;
  border: 3px transparent solid;
  border-top-color: #f9c922;
  border-radius: 50%;
  -webkit-animation: spin 1.5s infinite;
    animation: spin 1.5s infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
