<div class="container-fluid">

  <header id="header">
    <div class="vert-text">
      <div class="p-img">
        <h1 class="animated fadeInDown" style="font-size:100px">Sam Ngigi</h1>
      </div>
        <h1 class="animated fadeInDown">______________</h1>
      <h1 class="animated fadeInDown" id="typer-size">
                  <!-- TEXTS -->

                  <span id="typed"></span>
                  <div id="typed-strings">
                  	<p class="typed"><span></span> </p>
                      <p class="typed">I'm Sam Ngigi.</p>
                      <p class="typed"><span class="#">Welcome to my porfolio!</span></p>
                      <p class="typed">I love coding</p>
  									  <p class="typed">ANGULAR</p>
  									  <p class="typed">PYTHON</p>
                      <p class="typed">JAVASCRIPT</p>
  									  <p class="typed">CSS</p>
  									  <p class="typed">DJANGO</p>
  									  <p class="typed">FLASK</p>
  										<p class="typed">Typer</p>
  										<p class="typed">REACT</p>
  										<p class="typed">JAVA</p>
  										<p class="typed">Name It!</p>
  										<p class="typed">We'll learn and build.</p>
                  </div>
                  <!-- TEXTS ENDS -->
              </h1>
      <!-- TITLE -->
        <h1 class="animated fadeInUp">______________</h1>
      <h3 class="animated fadeInUp">FULLSTACK DEVELOPER </h3>
      <a href="#contacts" class="scroll-down nav-link"></a>
    </div>
  </header>
  <app-portfolio></app-portfolio>
  <app-project></app-project>
  <!-- FOOTER  -->
  <footer id="contacts">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-md-offset-3 text-center">
          <h1>Contacts</h1>
          <hr class="style17">
          <div class="row mt-5">
            <div class="col-12 text-center">
              <h4>sam.t.ngigi@gmail.com</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<app-loader></app-loader>
