<div class="container text-center mt-2">
  <h2>Working!</h2>
  <div class="btn btn-outline-primary" onclick="testFunction()">Test</div>
</div>


<header id="header">
  <div class="vert-text">
    <div id="particles"></div>
    <div class="p-img">
      <h1>< STN ></h1>
    </div>
    <h1 id="typer-size">
                <!-- TEXTS -->
                <span id="typed"></span>
                <div id="typed-strings">
                	<p><span></span> </p>
                    <p>I'm Sam Ngigi</p>
                    <p><span class="#">Let's Code</span></p>
                    <p>I like web development</p>
                    <p>I love coding</p>
									  <p>Angular</p>
									  <p>PYTHON</p>
                    <p>JAVASCRIPT</p>
									  <p>CSS</p>
									  <p>Simple Landing Page</p>
									  <p>Django</p>
										<p>Most Powerful Typer</p>
										<p>Codepen</p>
                </div>
                <!-- TEXTS ENDS -->
            </h1>
    <!-- TITLE -->

    <h3>FULLSTACK DEV | SAM NGIGI </h3>
    <a href="#contacts" class="scroll-down nav-link"></a>
  </div>
</header>
<!-- FOOTER  -->
<footer id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <hr class="style17">
        <!-- 		FORMS		 -->
        <form>
          <input type="text" placeholder="Enter First Name" /><br>
          <input type="text" placeholder="Enter Last Name" /><br>
          <input type="text" placeholder="Enter Your Email" /><br>
          <button>Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</footer>
