#projects {
  margin: 0 auto;
  padding: 100px 0;
  background: #d35f5f;
  width: 100%;
  color: #fff;
  transition: all 1.7s ease;
}

#projects:hover {
  background: #fff;
  color: #000;
}

#projects .social {
  padding-bottom: 20px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}
