<footer id="projects">
  <div class="container-fluid-3">
    <div class="row">

      <div class="col-md-12 col-md-offset-3 text-center">
        <h1>Projects</h1>
        <p>Click on picture to go to site and title to go to source code on github</p>
        <hr class="style17">
        <!-- Projects -->
      </div>
    </div>
    <div class="row mt-5 ">
      <div class="col-md-4 text-center ">
        <div class="mt-5 p-3 zoom">
          <a href="https://samngigi.github.io/k.apparel/"><img src="assets/imgs/k-a.png" alt="" class="img-fluid"></a>
        </div>
        <a  class="p-3" href="https://github.com/SamNgigi/Kreative-apparel-backup" style="color:inherit;"><h3>T-shirt shop template</h3>
        </a>
      </div>
      <div class="col-md-4 text-center ">
        <div class="mt-5 p-3 zoom">
          <a href="https://news-source.herokuapp.com/"><img src="assets/imgs/news.png" alt="" class="img-fluid">
          </a>
        </div>
        <a  class="p-3" href="https://github.com/SamNgigi/News-Highlight" style="color:inherit;"><h3>News Api</h3></a>
      </div>
      <div class="col-md-4 text-center ">
        <div class="mt-5 p-3 zoom">
          <a href="https://the-min.herokuapp.com/">
            <img src="assets/imgs/the-min.png" alt="" class="img-fluid">
          </a>
        </div>
        <a  class="p-3" href="https://github.com/SamNgigi/Blog-Ip" style="color:inherit;"><h3>Photo Blog</h3></a>
      </div>
    </div>
    <div class="row mt-5 ">
      <div class="col-md-4 text-center ">
        <div class="mt-5 p-3 zoom">
          <a href="https://samngigi.github.io/GitSearch/"><img src="assets/imgs/gitsearch.png" alt="" class="img-fluid"></a>
        </div>
        <a  class="p-3" href="https://github.com/SamNgigi/GitSearch" style="color:inherit;"><h3>Gitsearch</h3>
        </a>
      </div>
      <div class="col-md-4 text-center ">
        <div class="mt-5 p-3 zoom">
          <a href="https://gallery-ip.herokuapp.com/"><img src="assets/imgs/gallery.png" alt="" class="img-fluid">
          </a>
        </div>
        <a  class="p-3" href="https://github.com/SamNgigi/Gallery" style="color:inherit;"><h3>Gallery</h3></a>
      </div>
      <div class="col-md-4 text-center ">
        <div class="mt-5 p-3 zoom">
          <a href="https://samngigi.github.io/NgDj/">
            <img src="assets/imgs/ng-dj.png" alt="" class="img-fluid">
          </a>
        </div>
        <a  class="p-3" href="https://github.com/SamNgigi/NgDj" style="color:inherit;"><h3>Angular and Django Rest Test Site</h3></a>
      </div>
    </div>
  </div>
</footer>
